 /* 
 https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc 
 https://css-tricks.com/the-holy-grail-layout-with-css-grid/
 https://codepen.io/dragontheory/pen/XWNjLeX 
 
 */
 *, ::after, ::before {box-sizing: border-box;}
 body {
     overflow: hidden; 
     margin: 0;
     padding: 0;
     background-color: #01406479;
     background: -webkit-radial-gradient(#1c4f74, #010305);
     background: radial-gradient(#1c4f74, #02060a);
     color: rgba(255,255,255,0.5);
     font-family: Calibri;
     }
 .container {
     height: 100vh;
     width: 100vw;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto 1fr auto;
 }
 h1,h2,h3,h4,h5 {
     color: rgba(255,255,255,0.7);
     padding: 0 20px 0 20px;
 }
 header,
 nav,
 aside,
 footer,
 article {border: 1px solid rgba(255,255,255,0.1);}

 nav,
 aside,
 article {
     display: grid;
     overflow-y: hidden;
     transition: all 250ms;
 }
 main {display: grid;
     grid-template-columns: 300px 1fr 300px;
     overflow: hidden;}
 section {
     padding: 20px; 
     overflow-y: auto;
     background-color: rgba(0,0,0,0.2);
 }
 /* Handle on hover */
 nav:hover,
 article:hover,
 aside:hover {background-color: rgba(255,255,255,0.01);}

 /* https://css-tricks.com/the-holy-grail-layout-with-css-grid/ */
 @media (max-width: 600px) {
     .container {
         grid-template-columns: 100%;
         grid-template-rows: auto;
     }
     .container > * {
         grid-column: 1/-1 !important;
         grid-row: auto !important;
     }
 }
/* https://codepen.io/dragontheory/pen/JjbKpgE */
/* CUSTOM SCROLL BARS */
/* Firefox v.64*/
section {
    scrollbar-color: rgba(255,255,255,0.1) rgba(0, 0, 0, 0); /*thumb track*/
    scrollbar-width: thin; /* auto|thin|none */
    transition: all 250ms;
  }
/* Chrome */
section::-webkit-scrollbar {width: 6px;}
/* Chrome Scroll Track */
section::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0);}
section::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.1);}