/*for firefox v.64*/
section {
  scrollbar-color: rgba(255,255,255,0.1) rgba(0, 0, 0, 0); /*thumb track*/
  scrollbar-width: thin; /*auto|thin|none*/
  transition: all 250ms;
}
/*for chrome*/
section::-webkit-scrollbar {width: 6px;}
/*Scroll Track */
section::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0);}
section::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.1);}