/* 
SCROLL STATUS INDICATOR_
https://codepen.io/dragontheory/pen/poNyWBo

*/

header {
    position: fixed;
    top: 0;
    height: 125px;
    width: 100%;
    background: white;
  }
    header {
    padding: 10px 10%;
    box-sizing: border-box;
  }
  main {margin-top: 128px;}
  main {
    padding: 10px 10%;
    box-sizing: border-box;
  }
  @supports (height: 100vh) {
    body {
      background: linear-gradient(to right top, #0089f2 50%, #DDD 50%);
      background-size: 100% calc(100% - 100vh + 129px);
      background-repeat: no-repeat;
    }
    body:before {
      content: '';
      position: fixed;
      top: 128px;
      bottom: 0;
      width: 100%;
      z-index: -1;
      background: white;
    }
  }

/* 
HTML
<header>
  <h1>Scroll Indicator</h1>
</header>
<main>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
  foo<br>
  bar<br>
  baz<br>
</main>

*/