/* 
SCROLL STATUS INDICATOR
https://codepen.io/dragontheory/pen/YzpqrRY

*/

body {
    font-size: 200%;
  }
  h2 {
    background: white;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
  }
  main{
    margin-top: 4rem;
  }
  body {
    background: linear-gradient(to top right , #0089f2 50%, #ddd 50%) no-repeat;
    background-size: 100% calc(100% - 100vh + 4rem);
  }
  body:before {
    position: fixed;
    content: "";
    top: 4rem;
    background: white;
    width: 100%;
    bottom: 0;
    z-index: -1;
    
  }

/* HTML
<div class="scroll_indicator"></div>
<h2>Title</h2>
<main>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi consectetur quae minima delectus aperiam sunt iure, impedit voluptatibus recusandae numquam facere harum omnis eius vitae natus. Possimus, nam ipsa.</p>
</main>
*/